{% include 'partials/header.html' %}

<h3>New PBI</h3>

<form action="{% url 'wolfpack:insert' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Project ID</label><br/>
        <textarea name="projectId" id="projectId"></textarea>
    </div>

    <div class="form-group">
        <label for="text">Size</label><br/>
        <input type="text" name="size" id="size"/>
    </div>

    <div class="form-group">
        <label for="text">Priority</label><br/>
        <textarea name="priority" id="priority"></textarea>
    </div>

    <div class="form-group">
        <label for="text">Status</label><br/>
        <textarea name="status" id="status"></textarea>
    </div>


    <div class="form-group">
        <label for="text">User Story</label><br/>
        <textarea name="userStory" id="userStory"></textarea>
    </div>


    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
    </div>
</form>

{% include 'partials/footer.html' %}
