{% include 'partials/header.html' %}

<h3>New Project</h3>

<form action="{% url 'wolfpack:add_project' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label><br/>
        <textarea name="title" id="title"></textarea>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <input type="text" name="description" id="description"/>
    </div>

    <div class="form-group">
        Scrum Master ID:
        <select name="scrumMaster" id="scrumMaster">
            {% for user in users %}
                {{user.user.id}}
                <option value="{{user.user.id}}">{{user.user.id}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <p>Invite developers to the project (hold control to select multiple)</p>
        {% if availableDevelopers|length > 0 %}
            <select name="developer" id="multiselect_dev" multiple="multiple">
                {% for developer in availableDevelopers %}
                    <option value="{{developer.id}}">{{developer.name}}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>All developers are busy with projects</p>
        {% endif %}
    </div>

    <div class="form-group">
        <hr>
        <input id="insert_project_btn" class='btn btn-primary' type="submit" value="Submit"/>
    </div>
</form>

{% include 'partials/footer.html' %}