{% include 'partials/header_addproject.html' %}

<ul class='list-group'>
    {% for pbi in pbis %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                User Story: <a href="{% url 'wolfpack:detail' pbi.id %}">{{pbi.userStory}}</a>
            </div>
            <div class="col-sm">
                size: {{pbi.size}}
            </div>
            <div class="col-sm">
                priority: {{pbi.priority}}
            </div>
            <div class="col-sm">
                status: {{pbi.status}}
            </div>
            <div class="col-sm">
                Sprint 1
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% include 'partials/footer.html' %}
