<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Login</title>
  </head>
  <body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">BackTrack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
     </div>
</nav>

<div class='container'>
    <br>

<div class="messages">
      {% if messages %}
        {% for message in messages %}
          {% firstof message.tags 'warning' as msgtag %}
          <div class="alert alert-{{msgtag}} alert-dismissible fade show" role="alert">
          <p>{{message}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
        {% endfor %}
      {% endif %}
</div>

<header>
    <br>
    <h2>Login</h2>
    <hr>
</header>

<form action="{% url 'wolfpack:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Email</label><br/>
        <input type="text" name="email" id="email"/>
    </div>

    <div class="form-group">
        <label for="text">Password</label><br/>
        <input type="password" name="password" id="password"/>
    </div>

    <div class="form-group">
        Role:
        <select name="role" id="role">
            <option value="2">Developer</option>
            <option value="1">Product Owner</option>
            <option value="0">Scrum Master</option>
        </select>
    </div>

    <div class="form-group">
        <input id="insert_project_btn" class='btn btn-primary' type="submit" value="Login"/>
    </div>
</form>

{% include 'partials/footer.html' %}