{% url 'wolfpack:get_project_pbis' projectId as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h2>New PBI</h2>
<hr>
<form action="{% url 'wolfpack:insert' projectId %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">User Story</label><br/>
        <textarea rows = "5" cols = "40" name="userStory" id="userStory"></textarea>
    </div>

    <div class="form-group">
        <label for="text">Size</label><br/>
        <input type="text" name="size" id="size"/>
    </div>

    <div class="form-group">
        <label for="text">Priority</label><br/>
        <input name="priority" id="priority">
    </div>

    <div class="form-group">
        <label for="text">Status: Not Started</label><br/>
    </div>


    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
         <a class='btn btn-dark' href="{% url 'wolfpack:get_project_pbis' projectId %}">Go Back</a>
    </div>
</form>

{% include 'partials/footer.html' %}
