{% url 'wolfpack:detail' proId pbi.id as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h3>Edit PBI</h3>

<form action="{% url 'wolfpack:addToSprint' proId pbi.id %}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="text">Sprint</label><br />
      <select name="sprintId" id="sprintId">
        {% for sb in sprints %}
            <option value="{{sb.sprint.id}}">{{sb.sprint.name}}</option>
        {% endfor %}
      </select>
  </div>

      <div class="form-group">
        <label for="text">Title</label><br/>
        <input type="text" name="title" id="title">
    </div>

    <div class="form-group">
    <label for="text">Corresponding PBI</label><br />
      <input type="text" name="corpbi" id="corpbi" value="{{pbi.id}}"/>
    </div>

    <div class="form-group">
        <label for="text">Effort hours</label><br/>
        <input type="number" name="effortHours" id="effortHours" min="1">
    </div>

    <div class="form-group">
        <label for="text">Status: In Progress</label><br/>
    </div>

    <div class="form-group">
        <label for="text">Owner</label><br/>
        <input type="text" name="owner" id="owner"/>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea name="description" id="description"></textarea>
    </div>



  <div class="form-group">
    <hr>
    <input class='btn btn-primary' type="submit" value="Submit" />
  </div>
</form>

{% include 'partials/footer.html' %}
