{% url 'wolfpack:get_project_pbis' proId as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h2>Product Backlog Item:&nbsp;&nbsp;&nbsp;&nbsp; {{pbi.userStory}}</h2>
<hr>
<div>

    <form action="{% url 'wolfpack:delete' pbi.projectId pbi.id %}" method="post">
        <a class='btn btn-dark' href="{% url 'wolfpack:get_project_pbis' pbi.projectId %}">Go Back</a>
        {% csrf_token %}
        {% if pbi.status != 1 %}
        <a class='pbi-edit btn btn-outline-secondary' href="{% url 'wolfpack:update' pbi.projectId pbi.id %}">Edit</a>
        <input class='pbi-delete btn btn-danger' type="submit" value="Delete"/>

    <a class='pbi-edit btn btn-outline-secondary' href="{% url 'wolfpack:addToSprint' pbi.projectId pbi.id %}">Add to sprint</a>
         </form>
{% endif %}

<hr>

<div class="row">
    <div class="col-md sprint">
        Size: &nbsp;&nbsp;&nbsp;&nbsp; {{pbi.size}}
    </div>
</div>

<div class="row">
    <div class="col-md status">
        Status: &nbsp;&nbsp;&nbsp;&nbsp; {{pbiStatusInString}}
    </div>
</div>


<div class="row">
    <div class="col-md status">
        Priority: &nbsp;&nbsp;&nbsp;&nbsp; {{pbi.priority}}
    </div>
</div>


{% include 'partials/footer.html' %}
