{% include 'partials/header.html' %}

<div class="row">
    <div class="col-md">
        <h3>Project Story:&nbsp;&nbsp;&nbsp;&nbsp; {{pbi.userStory}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md sprint">
        Size: &nbsp;&nbsp;&nbsp;&nbsp; {{pbi.size}}
    </div>
</div>

<div class="row">
    <div class="col-md status">
        Status: &nbsp;&nbsp;&nbsp;&nbsp; {{pbi.status}}
    </div>
</div>


<div class="row">
    <div class="col-md status">
        Priority: &nbsp;&nbsp;&nbsp;&nbsp; {{pbi.priority}}
    </div>
</div>
{% if pbi.status != 1 %}
    <form action="{% url 'wolfpack:delete' pbi.projectId pbi.id %}" method="post">
        {% csrf_token %}
        <a class='pbi-edit btn btn-outline-secondary' href="{% url 'wolfpack:update' pbi.projectId pbi.id %}">Edit</a>
        <input class='pbi-delete btn btn-danger' type="submit" value="Delete"/>
    </form>
    <a class='pbi-edit btn btn-outline-secondary' href="{% url 'wolfpack:addToSprint' pbi.projectId pbi.id %}">Add to sprint</a>
{% endif %}

{% include 'partials/footer.html' %}
