{% include 'partials/header.html' %}



<a class='btn btn-success' href="{% url 'wolfpack:insert' pro.id %}">Add PBI</a>
<a class='btn btn-success' href="{% url 'wolfpack:index_sprint' pro.id %}">View Sprint</a>

{% if 0 %}
	## if user is project owner
	<a class='btn btn-success' href="{% url 'wolfpack:project_invite_developer' pro.id %}">Invite Developer</a>
	<a class='btn btn-success' href="{% url 'wolfpack:project_invite_scrumMaster' pro.id %}">Invite ScrumMaster</a>
{% endif %}


<br />
<h5>Done</h5>
<div class="col-12 container">
	<ul class="list-unstyled row">
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>User story</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Size</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Cumulative size</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Priority</b>
        </li>
		<li class="list-item col-4 border-top border-bottom py-2">
            <b>Sprint</b>
        </li>
		{% for pbi in pbis %}
		<li class="list-item col-2 border-bottom py-2">
			<a href="{% url 'wolfpack:detail' pro.id pbi.pbi.id %}">{{pbi.pbi.userStory}}</a>
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.pbi.size}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.cumusize}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.pbi.priority}}
        </li>
		<li class="list-item col-4 border-bottom py-2">
			{{pbi.pbi.sprintId}}
        </li>
		{% endfor %}
	</ul>
</div>

<h5>Not Done</h5>
<div class="col-12 container">
	<ul class="list-unstyled row">
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>User story</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Size</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Cumulative size</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Priority</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
            <b>Sprint</b>
        </li>
		<li class="list-item col-2 border-top border-bottom py-2">
			<b>Status</b>
        </li>
		{% for pbi in pbis2 %}
		<li class="list-item col-2 border-bottom py-2">
			<a href="{% url 'wolfpack:detail' pro.id pbi.pbi.id %}">{{pbi.pbi.userStory}}</a>
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.pbi.size}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.cumusize}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.pbi.priority}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.pbi.sprintId}}
        </li>
		<li class="list-item col-2 border-bottom py-2">
			{{pbi.statusInString}}
        </li>
		{% endfor %}
	</ul>
</div>

{% include 'partials/footer.html' %}