{% include 'partials/header.html' %}

<a class='btn btn-success' href="{% url 'wolfpack:insert' pro.id %}">Add PBI</a>
<a class='btn btn-success' href="{% url 'wolfpack:index_sprint' pro.id %}">View Sprint</a>
<ul class='list-group'>
    Done
    {% for pbi in pbis %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                User Story: <a href="{% url 'wolfpack:detail' pro.id pbi.pbi.id %}">{{pbi.pbi.userStory}}</a>
            </div>
            <div class="col-sm">
                size: {{pbi.pbi.size}}
            </div>
			<div class="col-sm">
                cumu. size: {{pbi.cumusize}}
            </div>
			<!--Update 3Nov 0205: Displays cumulative size of PBI-->
            <div class="col-sm">
                priority: {{pbi.pbi.priority}}
            </div>
            <div class="col-sm">
                status: {{pbi.statusInString}}
            </div>
            <div class="col-sm">
                Sprint 1
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class='list-group'>
    Not done
    {% for pbi2 in pbis2 %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                User Story: <a href="{% url 'wolfpack:detail' pro.id pbi2.pbi.id %}">{{pbi2.pbi.userStory}}</a>
            </div>
            <div class="col-sm">
                size: {{pbi2.pbi.size}}
            </div>
			<div class="col-sm">
                cumu. size: {{pbi2.cumusize}}
            </div>
			<!--Update 3Nov 0205: Displays cumulative size of PBI-->
            <div class="col-sm">
                priority: {{pbi2.pbi.priority}}
            </div>
            <div class="col-sm">
                status: {{pbi2.statusInString}}
            </div>
            <div class="col-sm">
                Sprint 1
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% include 'partials/footer.html' %}