{% url 'wolfpack:detail' proId pbi.id as gobackurl %}
{% include 'partials/header.html' with url_to_go_back=gobackurl %}

<h3>Edit PBI</h3>

<form action="{% url 'wolfpack:update' proId pbi.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">User Story</label><br />
    <input type="text" name="userStory" id="userStory" value="{{pbi.projectId}}"/>
  </div>

  <div class="form-group">
    <label for="text">Size</label><br />
    <textarea name="size" id="size">{{pbi.size}}</textarea>
  </div>

  <div class="form-group">
    <label for="text">Priority</label><br />
    <textarea name="priority" id="priority">{{pbi.priority}}</textarea>
  </div>


  <div class="form-group">
    <label for="text">Status</label><br />
      <select name="status" id="status">
            <option value="0">Not Started</option>
            <option value="1">In Progress</option>
            <option value="2">Done</option>
            <option value="3">Not Finished</option>
      </select>
  </div>


  <div class="form-group">
    <hr>
    <input class='btn btn-primary' type="submit" value="Submit" />
  </div>
</form>

{% include 'partials/footer.html' %}
