{% include 'partials/header.html' %}

<h2>New Project</h2>
<hr>

<form action="{% url 'wolfpack:add_project' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title</label><br/>
        <input type="text" name="title" id="title"/>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea rows = "5" cols = "40" name="description" id="description"></textarea>
    </div>

    <div class="form-group">
        Scrum Master:
        <select name="scrumMaster" id="scrumMaster">
            {% for user in users %}
                {{user.user.id}}
                <option value="{{user.user.id}}">{{user.user.name}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="form-group">
        <p>Invite developers to the project (hold control to select multiple)</p>
        {% if availableDevelopers|length > 0 %}
            <select name="developer" id="multiselect_dev" multiple="multiple">
                {% for developer in availableDevelopers %}
                    <option value="{{developer.id}}">{{developer.name}}</option>
                {% endfor %}
            </select>
        {% else %}
            <p>All developers are busy with projects</p>
        {% endif %}
    </div>

    <div class="form-group">
        <hr>
        <input id="insert_project_btn" class='btn btn-primary' type="submit" value="Submit"/>
        {% if not url_to_go_back %}
      {% url 'wolfpack:index_project' as url_to_go_back %}
      {% endif %}
      <a class='btn btn-dark' href="{{ url_to_go_back }}">Go Back</a>
    </div>

</form>

{% include 'partials/footer.html' %}