<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">BackTrack</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'wolfpack:userInfo'%}">{{user.name}}</a>
    </ul>
  </div>
</nav>

{% include 'partials/header_addproject.html' %}
<hr>
<ul class='list-group'>
    {% for pro in projects %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Project: <a href="{% url 'wolfpack:get_project_pbis' pro.project.id %}">{{pro.project.title}}</a>
            </div>
            <div class="col-sm">
                Description: {{pro.project.description}}
            </div>
            <div class="col-sm">
                Scrum Master: {{pro.scrumMaster}}
            </div>
            <div class="col-sm">
                <form action="{% url 'wolfpack:delete_project' pro.project.id %}" method="post">
                    {% csrf_token %}
                    <input class='pbi-delete btn btn-danger' type="submit" value="Delete"/>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% include 'partials/footer.html' %}
