<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Sprint Backlog</title>
  </head>
  <body>

    <div class='container'>

<header>
      <h1>Edit Sprint Task</h1>
      <a class='btn btn-dark' href="{% url 'wolfpack:sprint_detail' proId sprintId %}">Go Back</a>
      <hr>
</header>

<form action="{% url 'wolfpack:update_t' proId sprintId task.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Title</label><br/>
        <input type="text" name="title" id="title" value="{{task.title}}">
    </div>

    <div class="form-group">
        <label for="text">Effort hours</label><br/>
        <input type="number" name="effortHours" id="effortHours" min="1" value="{{task.effortHours}}">
    </div>

    <div class="form-group">
        <label for="text">Status</label><br/>
            <select name="status" id="status">
                <option value="0">To Do</option>
                <option value="1">In Progress</option>
                <option value="2">Done</option>
            </select>
    </div>

    <div class="form-group">
        <label for="text">Owner</label><br/>
        <input type="text" name="owner" id="owner" value="{{task.owner.id}}"/>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea name="description" id="description">{{task.description}}</textarea>
    </div>
    
    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
    </div>
</form>

{% include 'partials/footer.html' %}
