<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Sprint Backlog</title>
  </head>
  <body>

    <div class='container'>

<header>
      <h1>Sprint Backlog for {{sprint.name}}</h1>
      <a class='btn btn-dark' href="{% url 'wolfpack:index_sprint' pro.id %}">Go Back</a>
      <hr>
</header>

{#this will prevent user from adding task to "done" sprint #}
{% if sprint.status != 2 %}
<a class='btn btn-success' href="{% url 'wolfpack:add_task' pro.id sprint.id %}">Add Task</a>
{% endif %}
{#this will prevent user from editing sprints with status other than "not started"#}
{% if sprint.status == 0 %}
<a class='btn btn-success' href="{% url 'wolfpack:sprint_update' pro.id sprint.id %}">Edit Sprint</a>
{% endif %}
{#end of if block#}

{# prevent user from closing an already closed sprint #}
{% if sprint.status != 2 %}
<a class="btn btn-danger" href="{% url 'wolfpack:sprint_close' pro.id sprint.id %}">Close Sprint</a>
{% endif %}


<h5>Maximum effort hours: {{sprint.maxHours}} hours</h5>
<h5>Remaining effort hours: {{remaining}} hours</h5>
<h5>Not done: {{notdone}} hours</h5>
<h5>Done: {{done}} hours</h5>

<ul class='list-group'>
    To Do
    {% for task in tasks %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: <a href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">{{task.task.title}}</a>
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: to_do
            </div>
            <div>
                <a class='pbi-edit btn btn-outline-secondary' href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">Edit</a>
            </div>

            <div class="col-sm">
                <form action="{% url 'wolfpack:delete_t' pro.id sprint.id task.task.id %}" method="post">
                    {% csrf_token %}
                    <input class='pbi-delete btn btn-danger' type="submit" value="Delete"/>
                </form>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class='list-group'>
    In Progress
    {% for task in tasks2 %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: {{task.task.title}}
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: in_progress
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class='list-group'>
    Done
    {% for task in tasks3 %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: {{task.task.title}}
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: done
            </div>
        </div>
    </li>
    {% endfor %}
</ul>



{% include 'partials/footer.html' %}