<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Sprint Backlog</title>
  </head>
  <body>

    <div class='container'>

<header>
      <h1>Sprint Backlog for {{sprint.name}}</h1>
      <a class='btn btn-dark' href="{% url 'wolfpack:index_sprint' pro.id %}">Go Back</a>
      <hr>
</header>

<a class='btn btn-success' href="{% url 'wolfpack:add_task' pro.id sprint.id %}">Add Task</a>
<a class='btn btn-success' href="{% url 'wolfpack:sprint_update' pro.id sprint.id %}">Edit Sprint</a>
<ul class='list-group'>
    To Do
    {% for task in tasks %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: {{task.task.title}}
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: to_do
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class='list-group'>
    In Progress
    {% for task2 in tasks2 %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: <a href="{% url 'wolfpack:index' %}">{{task.task.title}}</a>
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id pbi.pbi.id %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: in_progress
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<ul class='list-group'>
    Done
    {% for task3 in tasks3 %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Title: <a href="{% url 'wolfpack:index' %}">{{task.task.title}}</a>
            </div>
            <div class="col-sm">
                Corresponding PBI: <a href="{% url 'wolfpack:detail' pro.id pbi.pbi.id %}">{{task.task.pbiId}}</a>
            </div>
            <div class="col-sm">
                Effort hours: {{task.task.effortHours}}
            </div>
            <div class="col-sm">
                Owner: {{task.task.owner}}
            </div>
            <div class="col-sm">
                Status: done
            </div>
        </div>
    </li>
    {% endfor %}
</ul>



{% include 'partials/footer.html' %}