<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Product Backlog</title>
  </head>
  <body>

    <div class='container'>

<header>
      <h1>All Sprints</h1>
      <a class='btn btn-success' href="{% url 'wolfpack:add_sprint' pro.id %}">Add Sprint Backlog</a>
      <a class='btn btn-dark' href="{% url 'wolfpack:get_project_pbis' pro.id %}">Go Back</a>
      <hr>
</header>

<ul class='list-group'>
    {% for sb in sprints %}
    <li class='list-group-item'>
        <div class="row">
            <div class="col-sm">
                Sprint: <a href="{% url 'wolfpack:sprint_detail' pro.id sb.sprint.id %}">{{sb.sprint.name}}</a>
            </div>
            <div class="col-sm">
                Start Date: {{sb.sprint.startDate}}
            </div>
            <div class="col-sm">
                End Date: {{sb.sprint.endDate}}
            </div>
            <div class="col-sm">
                Maximum Hours: {{sb.sprint.maxHours}}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% include 'partials/footer.html' %}