<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Sprint Backlog</title>
  </head>
  <body>

    <div class='container'>


<header>
      <h1>New Sprint Task</h1>
      <a class='btn btn-dark' href="{% url 'wolfpack:sprint_detail' projectId  sprintId  %}">Go Back</a>
      <hr>
</header>

    <div class="messages">
      {% if messages %}
        {% for message in messages %}
          {% firstof message.tags 'warning' as msgtag %}
          <div class="alert alert-{{msgtag}} alert-dismissible fade show" role="alert">
          <p>{{message}}</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
        {% endfor %}
      {% endif %}
    </div>

<h3>New Sprint Task</h3>
<form action="{% url 'wolfpack:add_task' projectId  sprintId %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Title</label><br/>
        <input type="text" name="title" id="title">
    </div>

    <div class="form-group">
        Corresponding Pbi:
        <select name="corpbi" id="corpbi">
            {% for pbi in pbis %}
                <option value="{{pbi.pbi.id}}">{{pbi.pbi.userStory}}</option>
            {% endfor %}
      </select>

    <div class="form-group">
        <label for="text">Effort hours</label><br/>
        <input type="number" name="effortHours" id="effortHours" min="1">
    </div>

    <div class="form-group">
        <label for="text">Status: To Do</label><br/>
    </div>

    <div class="form-group">
        Owner ID:
        <select name="owner" id="owner">
            {% for user in users %}
                {{user.user.id}}
                <option value="{{user.user.id}}">{{user.user.id}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea name="description" id="description"></textarea>
    </div>
    
    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
    </div>
</form>

{% include 'partials/footer.html' %}
