{% include 'partials/header.html' %}

<h2>Edit Sprint {{sprint.name}}</h2>
<hr>

<form action="{% url 'wolfpack:sprint_update' proId sprint.id %}" method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="date">Start Date</label><br />
    <input type="date" name="startDate" id="startDate" value="{{sprint.startDate|date:'Y-m-d'}}"/>
  </div>

  <div class="form-group">
    <label for="date">End Date</label><br />
    <input type="date" name="endDate" id="endDate" value="{{sprint.endDate|date:'Y-m-d'}}"/>
  </div>

  <div class="form-group">
    <label for="text">Max Hours</label><br />
    <textarea name="maxHours" id="maxHours">{{sprint.maxHours}}</textarea>
  </div>

  <div class="form-group">
    <hr>
    <input class='btn btn-primary' type="submit" value="Submit" />
    <a class='btn btn-dark' href="{% url 'wolfpack:sprint_detail' proId sprint.id %}">Go Back</a>
  </div>
</form>

{% include 'partials/footer.html' %}