{% include 'partials/header.html' %}

<h2>New Sprint Task</h2>
<hr>
<form action="{% url 'wolfpack:add_task' projectId  sprintId %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Title</label><br/>
        <input type="text" name="title" id="title">
    </div>

    <div class="form-group">
        Corresponding Pbi:
        {% if pbis|length <= 0 %}
            <p><i>No available PBIs! Please choose add PBIs to this sprint first.</i></p>
        {% else %}
            <select name="corpbi" id="corpbi">
                {% for pbi in pbis %}
                    <option value="{{pbi.pbi.id}}">{{pbi.pbi.userStory}}</option>
                {% endfor %}
            </select>
        {% endif %}

    <div class="form-group">
        <label for="text">Effort hours</label><br/>
        <input type="number" name="effortHours" id="effortHours" min="1">
    </div>

    <div class="form-group">
        <label for="text">Status: To Do</label><br/>
    </div>

    <div class="form-group">
        Owner:
        <select name="owner" id="owner">
             <option value="" selected disabled hidden>None</option>
            {% for user in users %}
                {{user.user.id}}
                <option value="None">None</option>
                <option value="{{user.user.id}}">{{user.user.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea rows="5" cols="40" name="description" id="description"></textarea>
    </div>
    
    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
        <a class='btn btn-dark' href="{% url 'wolfpack:sprint_detail' projectId  sprintId  %}">Go Back</a>
    </div>
</form>

{% include 'partials/footer.html' %}
