<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'wolfpack/css/style.css' %}">
    <title>Sprint Backlog</title>
  </head>
  <body>

    <div class='container'>

<header>
      <h1>Sprint Backlog for Sprint {{sprint.name}}</h1>
      <a class='btn btn-dark' href="{% url 'wolfpack:index_sprint' pro.id %}">Go Back</a>
      <hr>
</header>

{#this will prevent user from adding task to "done" sprint #}
{% if sprint.status != 2 %}
<a class='btn btn-success' href="{% url 'wolfpack:add_task' pro.id sprint.id %}">Add Task</a>
{% endif %}
{#this will prevent user from editing sprints with status other than "not started"#}
{% if sprint.status == 0 %}
<a class='btn btn-success' href="{% url 'wolfpack:sprint_update' pro.id sprint.id %}">Edit Sprint</a>
<a class='btn btn-success' href="{% url 'wolfpack:sprint_start' pro.id sprint.id %}">Start Sprint</a>
{% endif %}
{#end of if block#}

{# prevent user from closing an already closed sprint #}
{% if sprint.status != 2 %}
<a class="btn btn-danger" href="{% url 'wolfpack:sprint_close' pro.id sprint.id %}">Close Sprint</a>
{% endif %}


<h4>Maximum effort hours: {{sprint.maxHours}} hours</h4>
<h4>Remaining effort hours: {{remaining}} hours</h4>
<h4>Not done: {{notdone}} hours</h4>
<h4>Done: {{done}} hours</h4><br />


<h5>PBIs in Sprint {{sprint.name}}</h5>
{% if pbis|length <= 0 %}
    <p>No PBIs in Sprint {{sprint.name}}.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
		<li class="list-item col-1 border-top py-2">
            <b>PBI</b>
        </li>
		<li class="list-item col-3 border-top py-2">
            <b>User story</b>
        </li>
		<li class="list-item col-2 border-top py-2">
            <b>Total hours</b>
        </li>
		<li class="list-item col-2 border-top py-2">
            <b>Burntdown hours</b>
        </li>
		<li class="list-item col-2 border-top py-2">
            <b>Remaining hours</b>
        </li>
		<li class="list-item col-2 border-top py-2">
        </li>
		{% for pbi in pbis %}
		<li class="list-item col-1 border-top py-2">
            <a href="{% url 'wolfpack:detail' pro.id pbi.id %}">{{pbi.id}}</a>
        </li>
		<li class="list-item col-3 border-top py-2">
            {{pbi.userStory}}
        </li>
		<li class="list-item col-2 border-top py-2">
            -
			<!--Not yet implemented. Remove this comment if implemented.-->
        </li>
		<li class="list-item col-2 border-top py-2">
            -
			<!--Not yet implemented. Remove this comment if implemented.-->
        </li>
		<li class="list-item col-2 border-top py-2">
            -
			<!--Not yet implemented. Remove this comment if implemented.-->
        </li>
		<li class="list-item col-2 border-top py-2">
            <a class='pbi-delete btn btn-outline-danger btn-sm' href="">Reject</a>
			<!--Not yet implemented. Remove this comment if implemented.-->
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}  

	
<h5>To Do</h5>
{% if tasks|length <= 0 %}
    <p>No tasks to do.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
			
			<li class="list-item col-2 border-top py-2">
                <b>Title</b>
            </li>
            <li class="list-item col-3 border-top py-2">
                <b>Corresponding PBI</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Effort hours</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Owner</b>
            </li>
            <li class="list-item col-3 border-top py-2">
            </li>
		{% for task in tasks %}
			<li class="list-item col-2 border-top py-2">
                <a href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">{{task.task.title}}</a>
            </li>
            <li class="list-item col-3 border-top py-2">
                <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.effortHours}}
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.owner}}
            </li>
			<li class="list-item col-1 border-top py-2">
            </li>
            <li class="list-item col-2 border-top py-2">
                <a class='pbi-edit btn btn-outline-secondary btn-sm' href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">Edit</a>
				<a class='pbi-delete btn btn-outline-danger btn-sm' href="{% url 'wolfpack:delete_t' pro.id sprint.id task.task.id %}">Delete</a>
            </li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<h5>In Progress</h5>
{% if tasks2|length <= 0 %}
    <p>No tasks in progress.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
			
			<li class="list-item col-2 border-top py-2">
                <b>Title</b>
            </li>
            <li class="list-item col-3 border-top py-2">
                <b>Corresponding PBI</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Effort hours</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Owner</b>
            </li>
            <li class="list-item col-3 border-top py-2">
            </li>
		{% for task in tasks2 %}
			<li class="list-item col-2 border-top py-2">
                <a href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">{{task.task.title}}</a>
            </li>
            <li class="list-item col-3 border-top py-2">
                <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.effortHours}}
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.owner}}
            </li>
			<li class="list-item col-1 border-top py-2">
            </li>
            <li class="list-item col-2 border-top py-2">
                <a class='pbi-finish btn btn-outline-success btn-sm' href="{% url 'wolfpack:finish_t' pro.id sprint.id task.task.id %}">Finish</a>
            </li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<h5>Done</h5>
{% if tasks3|length <= 0 %}
    <p>No tasks done.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
			
			<li class="list-item col-2 border-top py-2">
                <b>Title</b>
            </li>
            <li class="list-item col-3 border-top py-2">
                <b>Corresponding PBI</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Effort hours</b>
            </li>
            <li class="list-item col-2 border-top py-2">
                <b>Owner</b>
            </li>
            <li class="list-item col-3 border-top py-2">
            </li>
		{% for task in tasks3 %}
			<li class="list-item col-2 border-top py-2">
                <a href="{% url 'wolfpack:update_t' pro.id sprint.id task.task.id %}">{{task.task.title}}</a>
            </li>
            <li class="list-item col-3 border-top py-2">
                <a href="{% url 'wolfpack:detail' pro.id task.task.pbiId %}">{{task.task.pbiId}}</a>
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.effortHours}}
            </li>
            <li class="list-item col-2 border-top py-2">
                {{task.task.owner}}
            </li>
			<li class="list-item col-3 border-top py-2">
            </li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% include 'partials/footer.html' %}