{% include 'partials/header.html' %}

<h2>All Sprints</h2>

<hr>
      <a class='btn btn-dark' href="{% url 'wolfpack:get_project_pbis' pro.id %}">Go Back</a>
      {% if activeSprints|length <= 0 %}
        <a class='btn btn-success' href="{% url 'wolfpack:add_sprint' pro.id %}">Add Sprint Backlog</a>
      {% endif %}
      <hr>


<h5>Active Sprint</h5>
{% if activeSprints|length <= 0 %}
    <p>No active sprints.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Sprint</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Start Date</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>End Date</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Maximum Hours</b>
        </li>
		{% for sprint in activeSprints %}
		<li class="list-item col-3 border-bottom py-2">
            <a href="{% url 'wolfpack:sprint_detail' pro.id sprint.sprint.id %}">{{sprint.sprint.name}}</a>
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.startDate}}
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.endDate}}
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.maxHours}}
        </li>
		{% endfor %}
	</ul>
</div>
{% endif %}

<h5>Inactive Sprint</h5>
{% if inactiveSprints|length <= 0 %}
    <p>No inactive sprints.</p>
{% else %}
<div class="col-12 container">
	<ul class="list-unstyled row">
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Sprint</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Start Date</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>End Date</b>
        </li>
		<li class="list-item col-3 border-top border-bottom py-2">
            <b>Maximum Hours</b>
        </li>
		{% for sprint in inactiveSprints %}
		<li class="list-item col-3 border-bottom py-2">
            <a href="{% url 'wolfpack:sprint_detail' pro.id sprint.sprint.id %}">{{sprint.sprint.name}}</a>
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.startDate}}
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.endDate}}
        </li>
		<li class="list-item col-3 border-bottom py-2">
            {{sprint.sprint.maxHours}}
        </li>
		{% endfor %}
	</ul>
</div>
{% endif %}

{% include 'partials/footer.html' %}