{% include 'partials/header.html' %}

<h2>Edit Sprint Task</h2>
<hr>

<form action="{% url 'wolfpack:update_t' proId sprintId task.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="text">Title</label><br/>
        <input type="text" name="title" id="title" value="{{task.title}}">
    </div>

    <div class="form-group">
        <label for="text">Effort hours</label><br/>
        <input type="number" name="effortHours" id="effortHours" min="1" value="{{task.effortHours}}">
    </div>

    <div class="form-group">
        <label for="text">Status</label><br/>
            <select name="status" id="status">
                <option value="0">To Do</option>
                <option value="1">In Progress</option>
                <option value="2">Done</option>
            </select>
    </div>

    <div class="form-group">
        Owner:
        <select name="owner" id="owner">
             <option value="" selected disabled hidden>{{task.owner}}</option>
            {% for user in users %}
                {{user.user.id}}
                <option value="None">None</option>
                <option value="{{user.user.id}}">{{user.user.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="text">Description</label><br/>
        <textarea rows="5" cols="40" name="description" id="description">{{task.description}}</textarea>
    </div>
    
    <div class="form-group">
        <hr>
        <input class='btn btn-primary' type="submit" value="Submit"/>
        <a class='btn btn-dark' href="{% url 'wolfpack:sprint_detail' proId sprintId %}">Go Back</a>
    </div>
</form>

{% include 'partials/footer.html' %}
